body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #1c1c1c;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: #df1e20;
	text-decoration: none;
}

.page-header {
	border-bottom: 0.5px dotted #df1e20;
}

.main-nav {
	padding: 10px;
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-between;
}

.main-nav__button {
	width: 50px;
	height: 50px;
	background-image: url("../img/menu.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: white;
	border: none;
	cursor: pointer;
	text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px;
}

.main-nav__logo {

}

.main-nav__logo img {
	width: 130px;
	height: 70px;
}

.main-nav__items {
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 115px;
  left: 0;
  background-color: #df1e20;
  text-align: center;
  z-index: 10;
}

.main-nav__items--closed {
	display: none;
}

.main-nav__items--opened {
	display: block;
}

.main-nav__item {
	padding: 15px;
	border-bottom: 0.15px solid white;
}

.main-nav__item a {
	color: white;
	font-size: 18px;
}

.main-nav__contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-nav__contacts li {
  padding-left: 0;
  padding-top: 10px;
  padding-right: 0px;
}

.main-nav__contacts li a {
	font-weight: lighter;
	font-style: italic;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
	.page-header {
		width: 1100px;
		margin: 0 auto;
		border-bottom: none;
	} 
  .main-nav__items {
  	display: flex;
  	flex-direction: row;
  	width: 70%;
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;
  }

  .main-nav__item {
    padding: 34px 11px 0px 12px;
  }

  .main-nav__item a {
  	color: #df1e20;
  }

  .main-nav__button {
  	display: none;
  }

  .page-footer {
  	width: 1100px;
		margin: 0 auto;
  }
}

.appartments {

}

.appartments-title {
	font-weight: 400;
	margin-left: 20px;
	margin-right: 20px;
}

.search {
	background-image: url('../img/derevyannyy_fon_svetlyy_tekstura_50369_3036x2000.jpg');
	background-repeat: no-repeat;
	background-size: 130%;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.search__wrapper {
	padding: 0 30px;
}

.search__title {
	font-weight: bolder;
	color: #df1e20;
	font-size: 20px;
}

.search__input {
	display: flex;
	flex-direction: column;
  margin-top: 10px;
}

.search__input-wrapper {
  padding: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 1px;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 3px;
}

.search__input-checkbox {
  flex-direction: column;
  width: 100%;
  background: white;
  border-top: none;
  z-index: 3;
}

.search__input-checkbox--closed {
	display: none;
}

.search__input-checkbox--opened {
	display: block;
}

.search__input-label {
	display: block;
	position: absolute;
	top: 10px;
	left: 13px;
	font-weight: bolder;
}

.search__input-wrapper::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: 12px;
  top: 10px;
  background-image: url("../img/sort-down.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.search__input-checkbox li {
	padding-top: 10px;
}

.search__input-button {
	display: none;
  background: #df1e20;
  border: none;
  border-radius: 1px;
  padding: 10px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.button {
	width: 100%;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #df1e20;
	border-radius: 1px;
	color: #df1e20;
	text-transform: uppercase;
	font-size: 18px;
	background-color: white;
	cursor: pointer;
}

/*.appartments__wrapper {
  padding: 20px;
}*/

.appartments__list {
	display: flex;
	flex-direction: column;
}

.appartments__item {
  width: 100%;
	min-height: 250px;
	margin-bottom: 20px;
}

.appartments__item-wrapper {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 250px;
	opacity: 0.8;
}

.appartments__item-wrapper--first {
	background-image: url("../img/mikrorajon-burnakovskij.jpg");
}

.appartments__item-wrapper--second {
	background-image: url("../img/monchegoria.jpeg");
}

.appartments__item-title {
	display: block;
	font-size: 28px;
	color: white;
	padding-left: 20px;
	padding-top: 20px;
}

.appartments__item-add {
	display: block;
	text-align: right;
	color: white;
	text-decoration: underline;
	padding-right: 20px;
}

.appartments__item > a:hover .appartments__item-wrapper {
	opacity: 1;
}

@media screen and (min-width: 1200px) {
	.appartments {
		width: 1100px;
		margin: 0 auto;
		margin-bottom: 20px;
  }

  .appartments-title {
  	font-weight: 100;
  	font-size: 36px;
  	margin: 0;
  }

  .appartments__wrapper {
  	padding-top: 20px;
  }

	.appartments__list {
		flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
	}

	.appartments__item {
		width: 48%;
    min-height: 300px;
    margin-bottom: 20px;
	}

	.appartments__item-title {
		padding-left: 50px;
    padding-top: 50px;
    padding-right: 20px;
	}

	.appartments__item-add {
    text-align: center;
    font-weight: 100;
	}

	.appartments__item-wrapper {
		height: 300px;
	}

	.search {
		background-size: 100%;
	}

  .search__title {
  	font-size: 18px;
  }

  .search__input {
  	flex-direction: row;
  }

  .search__wrapper {
  	width: 980px;
    margin: 0 auto;
  }

  .search__input-checkbox {
	  flex-direction: column;
	  position: absolute;
	  width: 217px;
	  top: 39px;
	  left: -1px;
	  min-height: 150px;
	  background: white;
	  border-top: none;
	  z-index: 3;
	  padding-left: 20px;
	  border: .5px solid grey;
	  border-top: 0px;
	  border-radius: 0 0 3px 3px;
	}
  
  .search__input-wrapper {
  	width: 20%;
  }

  .search__input-button {
  	display: block;
  	width: 20%;
  	height: 42px;
  }
  .search__button {
  	width: 40%;
  	display: block;
  	margin-top: 20px;
  	margin-left: auto;
  	margin-right: auto;
  }
}

.banks {
	background-color: #e8ecef;
}

.banks--hidden {
	display: none;
}

.banks__wrapper {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.banks__items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.banks__item {
	width: 25%;
}

.banks__title {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
	.banks--hidden {
		display: block;
	}
	.banks__wrapper {
		width: 1100px;
    margin: 0 auto;
    padding-bottom: 20px;
	}

	.banks__item {
		width: 100%;
	}

	.banks__title {
		font-size: 20px;
		margin-top: -10px;
	}
}

.contacts__wrapper {
	display: flex;
	flex-direction: column;
}

.contacts__text {
	padding: 20px;
	text-align: center;
}

.contacts__title {
	font-size: 20px;
}

.contacts__tel {
  font-weight: bold;
  font-size: 23px;
}

.contacts__adress {
	font-size: 18px;
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.contacts__map iframe {
  width: 100%;
}

@media screen and (min-width: 1200px) {
	.contacts {
		padding-left: 100px;
		margin-bottom: 20px;
	}

	.contacts__wrapper {
		flex-direction: row;
	}

	.contacts__text {
		width: 50%;
	}

	.contacts__title {
		font-weight: 100;
	}

	.contacts__tel {
		color: slategrey;
    font-weight: 100;
	}

	.contacts__adress {
    font-size: 22px;
    width: 75%; 
  }

	.contacts__map {
		width: 100%;
	}

	.contacts__map iframe {
		height: 255px;
	}
}

.page-footer__wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-footer__section:first-child {
	width: 45%;
  margin-right: 5%;
}

.page-footer__section:last-child {
	display: none;
}

.page-footer__title {
	display: block;
	color: #df1e20;
}

.page-footer__links {
	margin-top: 16px;
}

.page-footer__link {
	color: grey;
}

@media screen and (min-width: 1200px) {
	.page-footer__section {
		width: 50%;
	}

	.page-footer__section:last-child {
	  display: block;
  }

	.page-footer__section:first-child {
		width: 50%;
	}

	.page-footer__links {
		text-align: center;
	}

	.page-footer__title {
		text-align: center;
	}

	.page-footer__section:first-child .page-footer__title {
		text-align: left;
	}

	.page-footer__contacts {
		text-align: center;
		margin-top: 15px;
	}

	.page-footer__contacts-title {
		display: block;
		font-weight: 700;
	}

	.page-footer__contacts-tel {
		display: block;
	}
}

.promo-slider {
	display: none;
}

@media screen and (min-width: 1200px) {
	.promo-slider {
		display: block;
		min-height: 500px;
		margin-bottom: 20px;
		position: relative;
	}
	.promo-slider__slide {
		width: 100%;
		height: 500px;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.slider-first {
		background-image: url("../img/120000.jpg");
		background-position: 0px -250px;
	}
	.promo-slider__title {
		display: block;
		position: absolute;
		top: 0;
		font-weight: 100;
    width: 80%;
    text-align: right;
    text-decoration: underline;
    padding-top: 100px;
    font-size: 20px;
    color: white;
	}
	.promo-slider__button {
		display: block;
		position: absolute;
		top: 155px;
		width: 200px;
		margin-left: 70%;
		margin-top: 10px;
		font-weight: lighter;
		font-size: 20px;
		color: darkgrey;
		padding: 10px;
		border: 1px solid darkgrey;
		cursor: pointer;
	}
	.prev, .next{
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -55px;
		padding: 16px;
		color:white;
		font-weight: bold;
		font-size: 50px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
	}
	.next{
		right: 8px;
		border-radius: 3px 0 0 3px;
	}
	.prev:hover, .next:hover{
		background-color: rgba(0,0,0,0.2);
	}
	.promo-slider__dots {
		position: absolute;
		bottom: 30px;
		left: 50px;
	}
	.dot{
		cursor: pointer;
		height: 13px;
		width: 13px;
		margin: 0 2px;
		background-color: #fff;
		border: 2px solid red;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	.active, .dot:hover{
		background-color: #482771;

	}
	.fade{
		-webkit-animation-name: fade;
		-webkit-animation-duration:1s;
		animation-name:fade;
		animation-duration:1s;
	}
	/*@-webkit-keyframes fade{
		0%{opacity:0.4;}
		100%{opacity:1;}
	}*/
	@keyframes fade{
		0%{opacity:0.4;}
		100%{opacity:1;}
	}
}
.subnav {
	background-color: #d4d4d4;
	width: 100%;
	padding-top:8px;
	padding-bottom: 10px;
	margin-bottom: -20px;
}
.subnav__wrapper {
	padding: 0 20px;
	display: flex;
}
.subnav__link {
	text-decoration: underline;
}
.subnav__item {
	font-size: 14px;
	font-weight: 100;
}
.subnav__item:first-child {
	padding-right: 10px;
}
.subnav__item:last-child {
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
}
@media screen and (min-width: 1200px) {
	.subnav__wrapper {
		width: 1100px;
    margin: 0 auto;
	}
}

.list-appart__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.list-appart__item {
  width: 100%;
  border: 2px solid red;
  border-radius: 2px;
  margin-bottom: 20px;
}

.list-appart__wrapper {
  padding: 10px;
}

.list-appart__img {
	display: block;
  width: auto;
  height: 230px;
  margin: 0 auto;
}

.list-appart__content {
  display: flex;
  flex-direction: column;
}

.list-appart__title {
  text-align: center;
  color: #df1e20;
}

.list-appart__icons {
  display: flex;
  flex-direction: column;
}

.list-appart__icon {
	display: block;
	font-size: 18px;
  font-weight: 100;
}

.list-appart__icons--rubble::before {
	content: "";
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-image: url("../img/russia-ruble.png");
  background-repeat: no-repeat;
  background-size: 80%;
}

.list-appart__icons--bank::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-image: url("../img/coins.png");
  background-repeat: no-repeat;
  background-size: 80%;
}

.list-appart__icons--date::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
  background-size: 80%;
}

.list-appart__text {

}

.list-appart__btn {
  padding: 10px;
  background: #fbfaf7;
  border: 1px solid grey;
  font-size: 18px;
  border-radius: 2px;
  font-weight: 100;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
	.list-appart {
	  margin-top: 20px;
	}
	.list-appart__wrapper {
	  display: flex;
	  justify-content: space-between;
	}
	.list-appart__img {
		margin-right: 20px;
	}
	.list-appart__content {
    display: flex;
    flex-direction: column;
  }
  .list-appart__title {
    margin-top: 0;
    font-size: 20px;
  }
  .list-appart__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .list-appart__icon {
  	margin-right: 50px;
  }
  .list-appart__btn {
  	width: 40%;
  	align-self: flex-end;
  }
}

.features {
  width: 100%;
  min-height: 100px;
  background-color: #e8ecef;
  margin-bottom: 20px;
}

.features__wrapper {
  padding: 20px;
}

.features__list {
  display: flex;
  flex-direction: column;
}

.features__item {
  font-size: 18px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 25px;
}

.features__item-plane::before {
  content: "";
  display: block;
  width: 70px;
  height: 60px;
  background-image: url(../img/paper-plane.svg);
  background-repeat: no-repeat;
  background-size: 93%;
  margin: 0 auto;
}

.features__item-glass::before {
	content: "";
	display: block;
	width: 70px;
	height: 60px;
	background-image: url(../img/magnifying-glass.svg);
	background-repeat: no-repeat;
	background-size: 78%;
	margin: 0 auto;
}

.features__item-coins::before {
	content: "";
	display: block;
	width: 70px;
	height: 60px;
	background-image: url(../img/coins.svg);
	background-repeat: no-repeat;
	background-size: 85%;
	margin: 0 auto;
}

.features__item-map::before {
	content: "";
	display: block;
	width: 70px;
	height: 60px;
	background-image: url(../img/placeholder.svg);
	background-repeat: no-repeat;
	background-size: 83%;
	margin: 0 auto;
}
@media screen and (min-width: 1200px) {
	.features__wrapper {
	  width: 1100px;
	  margin: 0 auto;
	}
	.features__list {
		flex-direction: row;
		justify-content: center;
	}
	.features__item {
		width: 25%;
	}
  .features__item-map::before,
  .features__item-coins::before,
  .features__item-glass::before,
  .features__item-plane::before {
  	margin-bottom: 15px;
  }
}

.flat-slider {
	display: none;
}

@media screen and (min-width: 1200px) {
	.flat-slider {
		display: block;
		width: 1100px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.flat-slider__title {
		font-weight: 100;
		text-align: center;
		color: #df1e20;
	}
}

.current-appart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-appart__title {
  font-size: 20px;
}

.current-appart__img {

}

.current-appart__info {
	border-bottom: 1px solid red;
	border-left: 1px solid red;
	border-right: 1px solid red;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px; 
	min-height: 500px;
}

.current-appart__info-title {
	font-size: 24px;
	color: #df1e20;
	margin-top: 20px;
	margin-bottom: 10px;
}

.current-appart__info-subtitle {
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}

.current-appart__info-adress {
	font-size: 20px;
	font-weight: 100;
	vertical-align: 24px;
}

.current-appart__info-free, .current-appart__info-status, .current-appart__info-busy {
  font-weight: bolder;
}

.current-appart__info-status::before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	border: 5px solid #df1e20;
	border-radius: 50%;
	margin-right: 10px;
}

.current-appart__info-free::before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #029a36;
	margin-right: 10px;
}

.current-appart__info-busy::before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: orange;
	margin-right: 10px;
}

.current-appart__info-table {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	font-weight: bolder;
	text-transform: uppercase;
}

.current-appart__info-table-row {
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.current-appart__info-table-row span:first-child {
	width: 60%;
}

.current-appart__info-table-row span:last-child {
  width: 30%;
}

.calculate {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.calculate__title {
	font-size: 20px;
	color: #df1e20;
}

.calculate__wrapper {
	background-color: #eeeeee;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.calculate__form {
	display: flex;
	flex-direction: column;
	flex-basis: 65%;
	margin-right: 5%;
}

.calculate__input-wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 20px;
}

.calculate__label {
	font-size: 16px;
	color: #df1e20;
	font-weight: 100;
}

.calculate__input {
	border: 1px solid rgb(185, 185, 185);
	border-radius: 3px;
	height: 25px;
	width: 120px;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 14px;
	color: #df1e20;
}

.calculate__result-title, .calculate__result-result {
	color: #df1e20;
}

.calculate__result-title {
	margin-bottom: 80px;
}

.calculate__result-result {
  margin-bottom: 30px;
}

.calculate__result-form {
	color: #393939;
	display: block;
	font-size: 24px;
	font-weight: bolder;
	margin-bottom: 10px;
}

.calculate__tel-wrapp {
	display: flex;
}

.calculate__result-answer {
	font-weight: bolder;
}

.calculate__tel-input {
	box-sizing: border-box;
	width: 70%;
	height: 40px;
	padding-left: 10px;
	border: 1px solid rgb(185, 185, 185);
	border-radius: 3px;
	font-size: 18px;
}

.calculate__tel-btn {
	width: 40%;
	height: 40px;
	border: none;
	color: white;
	font-size: 16px;
	background-color: red;
	margin-left: -3px;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
/*  margin-top: -14px;  You need to specify a margin in Chrome, but in Firefox and IE it is automatic 
*/  
  box-shadow: 1px 1px 1px lightgrey, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px lightgrey, 0px 0px 1px #0d0d0d;
  border: 1px solid red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px lightgrey, 0px 0px 1px #0d0d0d;
  border: 1px solid red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484848;
  border-radius: 1.3px;
/*  */
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484848;
  border-radius: 1.3px;
  
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #484848;
}
input[type=range]::-ms-fill-upper {
  background: #484848;
  
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484848;
  border-radius: 1.3px;
  
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px lightgrey, 0px 0px 1px #0d0d0d;
  border: 1px solid red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484848;
  border-radius: 1.3px;
  
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px lightgrey, 0px 0px 1px #0d0d0d;
  border: 1px solid red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #484848;
  
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px lightgrey, 0px 0px 1px #0d0d0d;
  border: 1px solid red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #484848;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}



